#pedalBoard {
  height:400px;
  width:500px;
  background-color:lightgreen;
  border: 5px solid grey;
  user-select: none;
}

.draggable {
	padding:20px;
	text-align:center;
	background-color:pink;
	border:2px dashed;
	position:absolute;
}

#base {
	background-color:pink;
	top:140px;
	left:80px;
	width:350px;
	height:200px;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 240px;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item {
  display: block;
  margin-bottom: 4px;
  padding: 4px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu__item:last-child {
  margin-bottom: 0;
}

.context-menu__item:hover {
  color: #fff;
  background-color: #0066aa;
}

.input {
	background-color: black;
	width:40px;
	height:40px;
	border-radius: 20px;
	position:absolute;
	left:-20px;
}

.output {
	background-color: black;
	width:40px;
	height:40px;
	border-radius:20px;
	position:absolute;
	right:-20px;
	top:20px;
}