#pedalboard-container {
  height:610px;
  width:1510px;
  overflow:hidden;
}

#pedalboard {
  height:600px;
  width:1500px;
  background-color:lightgreen;
  border: 5px solid grey;
  user-select: none;
  transition: transform 0.5s ease-in;
  transform:scale(1,1);
}

#pedals {
  height:100px;
  width:1500px;
  background-color:lightGrey;
  border: 5px solid grey;
  margin-top:5px;
  display: flex;
  flex-direction: row; 
  height: 100%;
  user-select: none;
}

.pedal {
  width:50px;
  height:80px;
  background-color:red;
  margin:5px;
  font-size:10px;
  text-align:center;
  user-select: none;
}

.draggable {
  padding:20px;
  text-align:center;
  border:2px dashed;
  position:absolute;
}

.input,.output {
  position:absolute;
}

.output {
	background-image:url("../img/minirightJack.png");
	background-repeat:no-repeat;
	width:65px;
	height:10px;
	background-position:center center;
}

.output:Hover {
	background-image:url("../img/minirightJackMini.png");
	background-repeat:no-repeat;
	width:65px;
	height:10px;
	background-position:center center;
}

.input {
	background-image:url("../img/leftInput.png");
	background-repeat:no-repeat;
	width:20px;
	height:10px;
	background-position:left center;
}

.input:Hover {
  background-image:url("../img/leftInputHover.png");
  background-repeat:no-repeat;
  width:20px;
  height:10px;
  background-position:left center;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 70px;
  background: rgba(0,0,0,0.3);
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item1 {
  display: block;
  margin-left: 5px;
  padding: 0px 12px;
  width: 40px;
  height: 14px;
  background-repeat: no-repeat;
}

.context-menu__item1:last-child {
  margin-bottom: 0;
}

.context-menu__item1:hover {
  color: #fff;
  margin-left: 5px;
  background-image:url("../img/RightJackHover.png");
}

.context-menu__item2 {
  display: block;
  margin-left: 5px;
  padding: 0px 12px;
  width: 110px;
  height: 28px;
  background-repeat: no-repeat;
}

.context-menu__item2:last-child {
  margin-bottom: 0;
}

.context-menu__item2:hover {
  color: #fff;
  margin-left: 5px;
  background-image:url("../img/RightJackHoverL.png");
}