#pedalboard {
  height:400px;
  width:500px;
  background-color:lightgreen;
  border: 5px solid grey;
}

#pedals {
  height:100px;
  width:500px;
  background-color:lightGrey;
  border: 5px solid grey;
  margin-top:5px;
  display: flex;
  flex-direction: row; 
  height: 100%;
}

.pedal {
  width:50px;
  height:80px;
  background-color:red;
  margin:5px;
  font-size:10px;
  text-align:center;
}

.draggable {
  padding:20px;
  text-align:center;
  background-color:pink;
  border:2px dashed;
  position:absolute;
}

.input,.output {
  background-color: black;
  width:15px;
  height:15px;
  border-radius:15px;
  top:100px;
  position:absolute;
}

/*
.input {
  content:url(http://img4.hostingpics.net/pics/543552leftJack.png);
}

.output {
  content:url(http://img4.hostingpics.net/pics/146380rightJack.png);
}
*/