*{
  padding: 0px;
  margin:0px;
  border:0px;

  border-collapse: collapse;
  box-sizing: border-box;
}
:focus{
  outline: none;
}
html, body{
  height: 100%;
}
body{
  background: #222;
  background-image: url(https://cdn.matsmatsmats.com/images/commercial/mega-lock/mega-lock-black-lg.jpg);

  display: flex;
  flex-direction: column;
}

header{
  background: repeating-linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.4));
  box-shadow: inset 0px 1px 10px 0px #111;

  padding: 20px;
  margin-bottom: 1px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header span{
  color: #ccc;
  text-shadow: 0px -1px 0px #000;

  font-size: 24px;

  font-family: 'Quicksand', cursive;
}

footer{
  background: repeating-linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.4));
  box-shadow: inset 0px 1px 10px 0px #111;

  flex:1;
  text-align: right;
}
footer a:hover{
  color: #fff;
}
footer a{
  color: #eee;


  padding: 10px 20px;

  font-family: 'Quicksand', cursive;
  display: block;
  text-decoration: none;
}

/***** https://stackoverflow.com/questions/4126708/is-it-possible-to-style-html5-audio-tag *****/
audio::-webkit-media-controls-panel{
  background:transparent;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display
{
  color:#888;
}

#pedalboard-container {
  width:100%;
  height:710px;

  overflow:hidden;
}
#pedalboard {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.6),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.6);
  background-color:maroon;
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/e4/49/64/e44964f7f9bf0765895b3a382d75bed7.jpg);


  height:700px;
  width:100%;
  transform:scale(1,1);
}

.pedals:hover {
  background: rgba(255,255,255,0.2);
}
.pedals {
  padding: 10px;

  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}
.pedals .pedal{
  height: 160px;
}
.pedals span{
  color: #eee;

  font-size: 14px;
  padding-top: 10px;

  font-family: 'Quicksand', cursive;
}
.draggable {
  text-align:center;
  position:absolute;
}

/***** div_menuPanel *****/
.div_menuPanel{
  background: rgba(0,0,0,0.2);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  position: absolute;
  top: -25px;
  right: 15px;
  z-index: 99;
}
.div_menuPanel a:hover > i{
  color: #fff;
}
.div_menuPanel a:hover{
  background: rgba(0,0,0,0.4);
}
.div_menuPanel a{
  padding: 3px 5px;

  text-decoration: none;
  display: block;
}
.div_menuPanel a i{
  color: #bbb;

  font-size: 16px;
}

/***** .input,.output  *****/
.input,.output,.pedalInMic {
  position:absolute;
}
/* micro : guitar ; */
.pedalInMic{
  width:70px;
  height:190px;

  pointer-events: none;
}
.output {
  background-image:url("../img/output.png");
  background-repeat:no-repeat;
  width:90px;
  height:20px;
  background-position:center center;
}
.output:Hover {
  background-image:url("../img/outputHover.png");
  background-repeat:no-repeat;
  width:90px;
  height:20px;
  background-position:center center;
}
.input {
  background-image:url("../img/input.png");
  background-repeat:no-repeat;
  width:20px;
  height:20px;
  background-position:left center;
}
.input:Hover {
  background-image:url("../img/inputHover.png");
  background-repeat:no-repeat;
  width:20px;
  height:20px;
  background-position:left center;
}

.audioInput, .audioOutput {
  background-color: black;
  border-radius: 15px;
  position: absolute;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 70px;
  background: rgba(0,0,0,0.3);
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item1 {
  display: block;
  margin-left: 5px;
  padding: 0px 12px;
  width: 40px;
  height: 14px;
  background-repeat: no-repeat;
}

.context-menu__item1:last-child {
  margin-bottom: 0;
}

.context-menu__item1:hover {
  color: #fff;
  margin-left: 5px;
  background-image:url("../img/RightJackHover.png");
}

.context-menu__item2 {
  display: block;
  margin-left: 5px;
  padding: 0px 12px;
  width: 110px;
  height: 28px;
  background-repeat: no-repeat;
}

.context-menu__item2:last-child {
  margin-bottom: 0;
}

.context-menu__item2:hover {
  color: #fff;
  background-image:url("../img/RightJackHoverL.png");
}

#delay {
  width:109px;
  height:159px;
  background-image:url("../img/delay.png");
  margin-left:5%;
}

#quadra {
  width:90px;
  height:160px;
  background-image:url("../img/quadra_fuzz.png");
  margin-left:5%;
}

#lowpass {
  width:85px;
  height:162px;
  background-image:url("../img/low_pass.png");
  margin-left:5%;
}

#flanger {
  width:150px;
  height:162px;
  background-image:url("../img/flanger.png");
  margin-left:5%;
}

/***** div_app_tabs *****/
.div_app_tabs {
  background: repeating-linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.4));
  margin: 20px;
}
.div_app_tabs input[type=radio]{
  display:none;
}
.div_app_tabs input:hover + label{
  background:#222;  
  border-top:3px solid orange;
}
.div_app_tabs input:checked + label{
  background:#111;  
  border-top:3px solid purple;
}

.div_app_tabs label:hover{
  background:#222;
}
.div_app_tabs label{
  background:#333;
  color:#fff;
  border-top:3px solid #222;

  padding:10px;
  margin-right: 1px;
  font-size: 14px;
  
  font-family: 'Quicksand', cursive;
  display:inline-block;
  text-transform: uppercase;
  font-weight: bold;
  cursor:pointer;
}

.div_app_tabs .div_container{
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);

  height:260px;
  padding:20px;
  
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
}

.div_app_tabs #content-0,
.div_app_tabs #content-1,
.div_app_tabs #content-2,
.div_app_tabs #content-3,
.div_app_tabs #content-4,
.div_app_tabs #content-5,
.div_app_tabs #content-6,
.div_app_tabs #content-7,
.div_app_tabs #content-8,
.div_app_tabs #content-9,
.div_app_tabs #content-10,
.div_app_tabs #content-11,
.div_app_tabs #content-12,
.div_app_tabs #content-13,
.div_app_tabs #content-14,
.div_app_tabs #content-15{
  display:none;
}

.div_app_tabs #tab-0:checked ~ .div_container #content-0,
.div_app_tabs #tab-1:checked ~ .div_container #content-1,
.div_app_tabs #tab-2:checked ~ .div_container #content-2,
.div_app_tabs #tab-3:checked ~ .div_container #content-3,
.div_app_tabs #tab-4:checked ~ .div_container #content-4,
.div_app_tabs #tab-5:checked ~ .div_container #content-5,
.div_app_tabs #tab-6:checked ~ .div_container #content-6,
.div_app_tabs #tab-7:checked ~ .div_container #content-7,
.div_app_tabs #tab-8:checked ~ .div_container #content-8,
.div_app_tabs #tab-9:checked ~ .div_container #content-9,
.div_app_tabs #tab-10:checked ~ .div_container #content-10,
.div_app_tabs #tab-11:checked ~ .div_container #content-11,
.div_app_tabs #tab-12:checked ~ .div_container #content-12,
.div_app_tabs #tab-13:checked ~ .div_container #content-13,
.div_app_tabs #tab-14:checked ~ .div_container #content-14,
.div_app_tabs #tab-15:checked ~ .div_container #content-15{
  display:flex;
}
