* {
  padding:0px;
  margin:0px;
  border:0px;

  border-collapse: collapse;
  box-sizing: border-box;
  user-select: none;
}

:focus {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background: #222;
  background-image: url('../img/background.jpg');

  display: flex;
  flex-direction: column;
}

header {
  background: repeating-linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.4));
  box-shadow: inset 0px 1px 10px 0px #111;

  padding: 10px;
  margin-bottom: 1px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header span
{
  color: #ccc;
  text-shadow: 0px -1px 0px #000;

  font-size: 18px;

  font-family: 'Quicksand', cursive;
}

header a {
  text-decoration:none;
}

header a {
  color: #ccc;
  text-shadow: 0px -1px 0px #000;

  font-size: 24px;

  font-family: 'Quicksand', cursive;
}

/***** https://stackoverflow.com/questions/4126708/is-it-possible-to-style-html5-audio-tag *****/
audio::-webkit-media-controls-panel {
  background:transparent;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color:#888;
}

#pedalboard-container {
  height:710px;
  width:100%;
  overflow:hidden;
}

#pedalboard {
 box-shadow: 0 2px 4px -1px rgba(0,0,0,0.6),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.6);
  background-color:maroon;
  background-image: url('../img/background-pedalboard.jpg');


  height:700px;
  width:100%;
  user-select: none;
  transform:scale(1,1);
}

.pedals:hover {
  background: rgba(255,255,255,0.2);
}

.pedals {
  padding: 10px;

  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
}

.pedals .pedal {
  height: 160px;
}

.pedals span {
  color: #eee;

  font-size: 14px;
  padding-top: 10px;

  font-family: 'Quicksand', cursive;
}

.draggable {
  text-align:center;
  position:absolute;
}

.delete {
  position:absolute;
  top:-8%;
  left:80%;
}
.optionMenu {
  position:absolute;
  top:-8%;
  left:68%;
}

/***** div_menuPanel *****/
.div_menuPanel {
  background: rgba(0,0,0,0.2);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  position: absolute;
  top: -25px;
  right: 15px;
  z-index: 99;
}

.div_menuPanel a:hover > i {
  color: #fff;
}

.div_menuPanel a:hover {
  background: rgba(0,0,0,0.4);
}

.div_menuPanel a {
  padding: 3px 5px;

  text-decoration: none;
  display: block;
}

.div_menuPanel a i {
  color: #bbb;

  font-size: 16px;
}

/***** .input,.output  *****/
.input,.output {
  position:absolute;
}

.output {
  background-image:url("../img/output.png");
  background-repeat:no-repeat;
  width:90px;
  height:20px;
  background-position:center center;
}

.output:Hover {
  background-image:url("../img/outputHover.png");
  background-repeat:no-repeat;
  width:90px;
  height:20px;
  background-position:center center;
}

.input {
  background-image:url("../img/input.png");
  background-repeat:no-repeat;
  width:20px;
  height:20px;
  background-position:left center;
}

.input:Hover {
  background-image:url("../img/inputHover.png");
  background-repeat:no-repeat;
  width:20px;
  height:20px;
  background-position:left center;
}

.audioInput, .audioOutput {
  background-color: black;
  border-radius: 15px;
  position: absolute;
}

.context-menu {
  display: none;
  position: absolute;
  margin-top:38px;
  margin-left:-15px;
  z-index: 10;
  padding: 12px 0;
  width: 70px;
  background: rgba(0,0,0,0.3);
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
  display: block;
}

.context-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu__item1 {
  display: block;
  margin-left: 5px;
  padding: 0px 12px;
  width: 40px;
  height: 14px;
  background-repeat: no-repeat;
}

.context-menu__item1:last-child {
  margin-bottom: 0;
}

.context-menu__item1:hover {
  color: #fff;
  margin-left: 5px;
  background-image:url("../img/RightJackHover.png");
}

.context-menu__item2 {
  display: block;
  margin-left: 5px;
  padding: 0px 12px;
  width: 110px;
  height: 28px;
  background-repeat: no-repeat;
}

.context-menu__item2:last-child {
  margin-bottom: 0;
}

.context-menu__item2:hover {
  color: #fff;
  background-image:url("../img/RightJackHoverL.png");
}

#delay {
  width:109px;
  height:159px;
  background-image:url("../img/delay.png");
  margin-left:5%;
}

#quadra {
  width:90px;
  height:160px;
  background-image:url("../img/quadra_fuzz.png");
  margin-left:5%;
}

#lowpass {
  width:85px;
  height:162px;
  background-image:url("../img/low_pass.png");
  margin-left:5%;
}

#flanger {
  width:150px;
  height:162px;
  background-image:url("../img/flanger.png");
  margin-left:5%;
}

/***** div_app_tabs *****/
.div_app_tabs {
  background: repeating-linear-gradient(0deg,rgba(0,0,0,0.1),rgba(0,0,0,0.4));
  margin: 1px;
}

.div_app_tabs input[type=radio] {
  display:none;
}

.div_app_tabs input:hover + label {
  background:#222;  
  border-top:3px solid orange;
}

.div_app_tabs input:checked + label {
  background:#111;  
  border-top:3px solid purple;
}

.div_app_tabs label:hover {
  background:#222;
}

.div_app_tabs label {
  background:#444;
  color:#eee;
  border-top:3px solid #222;

  padding:5px;
  
  font-family: 'Quicksand', cursive;
  display:inline-block;
  cursor:pointer;
}

.div_app_tabs .div_container {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);

  height:230px;
  padding:5px;
  
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
}

.div_app_tabs #content-1,
.div_app_tabs #content-2,
.div_app_tabs #content-3,
.div_app_tabs #content-4 {
  display:none;
}

.div_app_tabs #tab-1:checked ~ .div_container #content-1,
.div_app_tabs #tab-2:checked ~ .div_container #content-2,
.div_app_tabs #tab-3:checked ~ .div_container #content-3,
.div_app_tabs #tab-4:checked ~ .div_container #content-4 {
  display:flex;
}
